:host {
  display: block;
  button {
    min-width: 146px;
  }
}

.score {
  padding: 5rem;
}

.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.controls {
  padding: 0 1rem;
}
